 
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body style="background-color: hsl(hue, saturation, lightness)">
  
   <marquee> <h2>College Notice Board </h2></marquee>

   
<div class="navbar">
 
  
  <a class="active" href="#">CNB</a>
  <a  href="#"><i class="fa fa-fw fa-home"></i>Home</a>
  <a  routerLink="/admin-login"><i class="fa fa-fw fa-user"></i>Admin</a>
  <a routerLink="/staff-login"><i class="fa fa-fw fa-user"></i> Staff</a> 
  <a routerLink="/student-login"><i class="fa fa-fw fa-user"></i> Student</a> 
  <a href="#"><i class="fa fa-fw fa-home"></i> About</a>
  <a routerLink="/app-contactUs"><i class="fa fa-fw fa-envelope"></i> Contact</a>
  
</div>
<div class="col-md-12 img" ></div>
</body>
</html>