
h2{
    text-shadow: darkorchid;
    text-align: center;
    color: black;
   text-anchor: inherit;
   text-decoration-color: blueviolet;

}

body {font-family: Arial, Helvetica, sans-serif;}

.bg-img{
    background-image: url(../../images/image-7.jpg);
    min-height: 600px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  img.avatar{
    width: 40%;
    border-radius: 50%;
  }
  
  .imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
  }
  .form
  {
    border: 0.5px solid black;
    padding: 10px;
    width: 350px;
    height: 250px;
    box-shadow: 0 0 5px 2px #969696;
    /* box-shadow: 0 0 5px 2px #636363; */
  }