<!-- 
<div class="container">
    <div class="col-md-7 image"></div>
    <div class="col-md-5">
        <div class="form">
                <h2>Admin Registration Form</h2>
            <div class="form-group">
                <label for="">User Name : </label>
                <input [(ngModel)]='user_name' type="text" class="form-control">
            </div>
           <div class="form_group">
                <label for="">Gender : </label>
                <input name="gender" type="radio" >Female
                <input name="gender" type="radio" >Male

            </div> 
            <div class="form-group">
                <label for="">Phone Number : </label>
                <input [(ngModel)]='mobile_no' type="number" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Email Id : </label>
                <input [(ngModel)]='email' type="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Password : </label>
                <input [(ngModel)]='password' type="password" class="form-control">
            </div>
            <div class="form-group">
                <button (click)='onregister()'class='btn btn-success'>Register</button>
                <button routerLink='/admin-login' class='btn btn-warning pull-right' style="margin-left:20px">Cancel</button>

        </div>
    </div>
</div>-->

    
