
<h1 *ngIf="notice != undefined">{{notice.title}}</h1>
<br>
<div class="row" *ngIf="notice != undefined">
  <div class="col-md-4">
    <img src="http://localhost:4500/{{notice.photo}}" alt="">

  </div>
<br><br>
    <div class="row">
        
      <div class="col-md-12">
        <strong>Title: </strong> {{notice.title}}
      </div>
    </div>
<br>
    
    <div class="row">
      <div class="col-md-12">
        {{notice.description}}
      </div>
    </div>
    <br>
<div>
        <button (click)="onBack()" class="btn btn-warning" style="margin-left:0px;">Back</button>
    </div>
    

  
</div>

