<!-- <html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <marquee> <h2>College Notice Board </h2></marquee>
        <div class="navbar">
 
             <a class="active" routerLink="/app-home"><i class="fa fa-fw fa-home"></i>Home</a>-->
               
               <!-- <a class="active" routerLink="/notice-list"><i class="fa fa-fw fa-envelope"></i> Manage Notice</a>
               <a  routerLink="/staff-list"><i class="fa fa-fw fa-user"></i> Manage Staff</a> 
                <a routerLink="/student-list"><i class="fa fa-fw fa-user"></i> Manage Student</a> 
               
                <a routerLink="/result-list"><i class="fa fa-fw fa-envelope"></i> Manage Result</a>
                
              </div>
       
</body>
</html> --> 



<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <marquee> <h2>College Notice Board </h2></marquee>
    <div class="navbar">

           <!-- <a class="active" routerLink="/app-home"><i class="fa fa-fw fa-home"></i>Home</a>-->
           
           <!-- <a class="active" routerLink="/notice-list"><i class="fa fa-fw fa-envelope"></i> Manage Notice</a>
           <a  routerLink="/staff-list"><i class="fa fa-fw fa-user"></i> Manage Staff</a> 
            <a routerLink="/student-list"><i class="fa fa-fw fa-user"></i> Manage Student</a> 
           
            <a routerLink="/result-list"><i class="fa fa-fw fa-envelope"></i> Manage Result</a>
            
          </div>
    -->

<!-- <div class="container">
  
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol> -->

    <!-- Wrapper for slides -->
    <!-- <div class="carousel-inner">

      <div class="item active">
        <img src="src/app/images/image5.jpg" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
          <h3>Time to Time</h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="src/app/images/blog_large_1.jpg" alt="Chicago" style="width:100%;">
        <div class="carousel-caption">
          <h3>Daily Time Table</h3>
          <p></p>
        </div>
      </div>
    
      <div class="item">
        <img src="src/app/images/image1.jpg" alt="New York" style="width:100%;">
        <div class="carousel-caption">
          <h3>Notice Board</h3>
          <p></p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div> --> 

<!-- </body>
</html>  -->

<!DOCTYPE html>
<html>
    
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
      <marquee> <h1>College Notice Board </h1></marquee>

      <div class="bg-img">

<div class="container">
    <!-- <div class="bg-img"> -->
      <div >
  <h2>Admin Panel</h2>
  
  </div>
<div class="row">
  <div class="col-md-3">
        <div class="list-group">
          <div class="list-group">
              <button [routerLink]="['/admin-profile']" routerLinkActive="router-link-active"  type="button" class="list-group-item list-group-item-action active">
                  Profile
              </button>
              <button [class.active]="activePath == '/notice-list'" (click)="switchToComponent('notice-list')" type="button" class="list-group-item list-group-item-action">Manage Notice</button>
        <button [class.active]="activePath == '/notice-list'" (click)="switchToComponent('notice-list')" type="button" class="list-group-item list-group-item-action">Manage Staff</button>
        <button [class.active]="activePath == '/notice-list'" (click)="switchToComponent('notice-list')" type="button" class="list-group-item list-group-item-action">Manage Student</button>
        <button [class.active]="activePath == '/notice-list'" (click)="switchToComponent('notice-list')" type="button" class="list-group-item list-group-item-action">Notification</button> </div>
    </div>
  </div>

  

  <div class="col-md-5 ">
      <div action="" method="post">
          <div class="imgcontainer">
              <img src="../../../assets/admin.png" alt="Avatar" class ="avatar">
          </div>
      </div>
    
      <table>
          <tr>
            <th>Name : </th>
            <th>Nitin Kudhale</th>
          </tr>
          <tr>
            <td>Post : </td>
            <td>Managing Director</td>
          </tr>
          <tr>
            <td>Institute : </td>
            <td>Sunbeam Institute of Technology</td>
  
          </tr>
         
        </table>
        


    

      <!-- <img src="" alt="Avatar"> -->
      <!-- <router-outlet></router-outlet>-->
      </div>
      <div class="col-md-2 ">

    

          <!-- <img src="" alt="Avatar"> -->
          <!-- <router-outlet></router-outlet>-->
          </div>
<div class="col-md-1">
    <a  href="/admin-login" class="btn btn-primary btn-sm pull-right">
        <span  class="glyphicon glyphicon-log-out"></span> Log out
      </a>
</div>
        
      <div class="col-md-1 ">
         
         
      </div>
  
</div>

</div>
</div>
</body>
</html>